body {
     position: relative;
}
 #section1 {
    padding-top:50px;
    height:500px;
    color: #707266;
     background-color: #e0e4cc;
}
 #section2 {
    padding-top:50px;
    height:500px;
    color: #707266;
     background-color: #b3b6a3;
}
 #section3 {
    padding-top:50px;
    height:500px;
    color: #707266;
     background-color: #e0e4cc;
}
 #section41 {
    padding-top:50px;
    height:500px;
    color: #707266;
     background-color: #b3b6a3;
}
 #section42 {
    padding-top:50px;
    height:500px;
    color: #707266;
     background-color: #e0e4cc;
}
 #section43 {
    padding-top:50px;
    height:500px;
    color: #707266;
     background-color: #b3b6a3;
}
 #section44 {
    padding-top:50px;
    height:500px;
    color: #707266;
     background-color: #e0e4cc;
}
 #section45 {
    padding-top:50px;
    height:500px;
    color: #707266;
     background-color: #b3b6a3;
}
 #section46 {
    padding-top:50px;
    height:500px;
    color: #707266;
     background-color: #e0e4cc;
}
 #section4 {
    padding-top:50px;
    height:500px;
    color: #707266;
     background-color: #b3b6a3;
}
 #section5 {
    padding-top:50px;
    height:500px;
    color: #707266;
     background-color: #e0e4cc;
}